.objective-activity {
  margin: 70px 0 0 0;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.options-wrapper {
  margin: 45px 0 45px 0;
}

.options-wrapper .option {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
  padding: 20px 0 20px 15px;
  font-size: 1.05rem;
  margin: 20px 0;
  border-radius: 4px;
  cursor: pointer;
}

.option input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.option input[type="checkbox"]:checked {
  background-color: #fff;
  border-radius: 4px;
}

.option input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 30%;
  top: 49%;
  width: 5px;
  height: 9px;
  border: 2px solid #000;
  border-top: none;
  border-left: none;
  transform: rotate(45deg) translate(-50%, -50%);
}

.option:has(input:checked) {
  background-color: #000;
  color: #fff;
}

.feedback-message {
  background-color: #fff9c4;
  padding: 5px 0 20px 20px;
  color: #713f12;
  margin-top: 45px;
  display: none;
}

.feedback-message p:not(.close-message) {
  margin-top: 15px;
  color: #713f12;
  line-height: 25px;
}
